<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <img
      src="http://ec2-18-188-252-77.us-east-2.compute.amazonaws.com:8080/profile/{{photo?.split('\\')[2]}}"
      slot="end" style="height: 39px;border-radius: 25px;margin: 10px;">
    <ion-title>
      <img src="assets/images/whitebg.jpg" height="60" width="100">


    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
  
</ion-refresher-content>
   

</ion-refresher>

  <h4 atyle="text-align: left;padding: 23px;">Money transferring  to : &nbsp;&nbsp;&nbsp;{{name}}</h4>
  <form [formGroup]="modifyFormGroup">

    <ion-list lines="none">
<p *ngIf="err"> Please Enter Proper Amount</p>
      <ion-item>
        <ion-input slot="end" id="two" formControlName="two" [(ngModel)]="Wallet"
          class="ion-margin-top ion-margin-start ion-padding-end" placeholder="Amount"></ion-input>

        <ion-label>Available </ion-label>
      </ion-item>


      <ion-item>
   
        <ion-input id="one" slot="end" formControlName="one" class="ion-margin-top ion-margin-start ion-padding-end"
          placeholder="Enter The Amount"></ion-input>

        <ion-label>Enter the Amount </ion-label>
      </ion-item>



      <ion-item>


        <ion-input id="three" slot="end" formControlName="Wallet" [(ngModel)]="total"
          class="ion-margin-top ion-margin-start ion-padding-end" placeholder="Amount"></ion-input>

        <ion-label>Total </ion-label>
      </ion-item>

    </ion-list>





    <ion-button *ngIf="checks"  (click)="check()">Check</ion-button>&nbsp;&nbsp;&nbsp;

    <ion-button *ngIf="btn"  (click)="update(id)">Recharge</ion-button>




  </form>



</ion-content>



<ion-footer style="text-align: center;">
  <ion-toolbar id="footer">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-icon id="brief" id="brief" name="home" [routerLink]="['/admindashboard']"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon id="brief" [routerLink]="['/adminorders']" name="cart"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon id="brief" [routerLink]="['/user-profile']" name="person"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>