ion-icon {
    background: White;
    border-radius:20px;
  }
  ion-toolbar{
    --background:#0b074d;
  }
  ion-menu-button{
    color:#F37335;
  }

  ion-icon{
    color:navy;
    font-size: 21px;
  }
  #footer{
    --background:#031646!important;
    height:47px!important;
       }



       ion-button{
        --background: #031646;
     
     
       
        height:40px;
        margin-top:25px!important;
        box-shadow: 0 0 10px #d7d7dd;
        border:0;
        outline:0;
        width:21em; 
        margin-left:38px;   
   
   }