// ion-icon{
//     background:#23074d; 
//      padding: 1px 2px 2px 2px;    
//       font-size:16px;
//     color:white;
//     border-radius: 29px;
//  }
ion-list{
    background: #eeeeee;
   }
   i{
    background:#23074d; 
    padding: 1px 2px 2px 2px;    
    font-size:16px;
    color:white;
    border-radius: 29px;
   }
   span{
    font-family: 'Open Sans', sans-serif;
    color:#23074d; 
    font-size:14px;
   }