ion-content{
    --background: #eeeeee!important;
}
ion-list{
   --background: #eeeeee;
   }
   ion-item{
    --background: #eeeeee;
   }
   ion-label{
    --background: #eeeeee;
    font-family: 'Noto Sans KR', sans-serif!important;
    font-size:13px!important;
    color:#031646!important;
    font-weight:600;
   }
   i{
    background: #031646;
    padding: 3px 3px 3px 3px;
    font-size: 16px;
    color: white;
    border-radius: 10px;

   }

   #mobo{
       color:navy;
   }
   .popover-content {
   top: 105.5px!important;
   left: 62.5px!important;
   transform-origin: left top;
}

