<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<ion-content style="--background: #eeeeee;">


  <ion-list>
    <button ion-item style="background: #eeeeee;">
      <i class="material-icons" item-start>phone_android</i>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Mobile</span>
    </button>
  </ion-list>

  <ion-list>
    <button ion-item style="background: #eeeeee;">
      <i class="material-icons">tablet_android</i>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Tablet</span>
    </button>
  </ion-list>


  <ion-list>
    <button ion-item style="background: #eeeeee;">
      <i class="material-icons">laptop_windows</i>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Laptop</span>
    </button>
  </ion-list>

  <ion-list>
    <button ion-item style="background: #eeeeee;">
      <i class="material-icons">desktop_windows</i>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>PC</span>
    </button>
  </ion-list>

  <ion-list>
    <button ion-item style="background: #eeeeee;">
      <i class="material-icons">speaker</i>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Speaker</span>
    </button>
  </ion-list>

  <ion-list>
    <button ion-item style="background: #eeeeee;">
      <i class="material-icons">watch</i>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Smart Watches</span>
    </button>
  </ion-list>


  <ion-list>
    <button ion-item style="background: #eeeeee;">
      <i class="material-icons">mobile_friendly</i>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Mobile Accessories</span>
      <ion-icon style="font-size:17px;" name="arrow-dropright" (click)="presentPopover($event)" slot="end"></ion-icon>
    </button>
  </ion-list>




</ion-content>