
ion-icon {
    background: White;
    border-radius:20px;
  }
  ion-toolbar{
    --background:#0b074d;
  }
  ion-menu-button{
    color:#F37335;
  }
  
  #footer{
    --background:#031646!important;
    height:47px!important;
       }
       #brief{
         color:navy;
         font-size:21px;
       }
       
       ion-button{
        --background: #1f2442;
        margin-top: 25px !important;
        border: 0;
        --border-radius: 9px;
        font-size: 11px;
        width: 8em;
   }

   
#brief{
  margin-right: 1em;
  color:navy;
  font-size:21px; 
  margin-top: -5px;
  border-radius:15px;
  background:white;

}