<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGiVU5AazUo9Op4o_-hd-hCsPuTkO7VZN361mYnqhsXYALIi3-&s"
      slot="end" style="height: 39px;border-radius: 25px;margin: 10px;">
    <ion-title>
      <img src="assets/images/whitebg.jpg" height="60" width="100">


    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
  
</ion-refresher-content>
   

</ion-refresher>
  <h3 style="text-align: center;"> Property List</h3>
  <table mat-table [dataSource]="listData" class="table">


    <ng-container matColumnDef="propertyname">
      <th style="color: white;background: #031646;" mat-header-cell *matHeaderCellDef> Property Name </th>
      <td mat-cell *matCellDef="let arr"> {{arr.propertyname}}</td>
    </ng-container>

    <ng-container matColumnDef="propertyprice">
      <th style="color: white;background: #031646;" mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let arr"> {{arr.propertyprice}} </td>
    </ng-container>
    <ng-container matColumnDef="propertyimage">
      <th style="color: white;background: #031646;" mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let arr">  <img src="http://ec2-18-188-252-77.us-east-2.compute.amazonaws.com:8080/property/{{arr.propertyimage?.split('\\')[2]}}" style="height:58px; width:109px;margin:-11px 2px 2px 2px;"> </td>
    </ng-container>


    <ng-container matColumnDef="userId">
      <th  style="color: white;background: #031646;" mat-header-cell *matHeaderCellDef> UserId </th>
      <td mat-cell *matCellDef="let arr"> {{arr.userId}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th  style="color: white;background: #031646;" mat-header-cell *matHeaderCellDef> Option </th>
      <td mat-cell *matCellDef="let arr"><ion-button [routerLink]="['/recharge',arr.userId]">send Money</ion-button> </td>
    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ion-content>


<ion-footer style="text-align: center;">
  <ion-toolbar id="footer">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-icon id="brief" id="brief" name="home" [routerLink]="['/admindashboard']"></ion-icon>

        </ion-col>
        <ion-col size="4">
          <ion-icon id="brief" [routerLink]="['/adminorders']" name="cart"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon id="brief" [routerLink]="['/user-profile']" name="person"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>