


ion-content{
    font-family: 'Noto Sans KR', sans-serif!important;
    font-weight: 600;
}
img{
    height:5em;
}
ion-toolbar{
    --background:#031646;
}

#cart-icon{
   
    color: white;
    border-radius: 20px;
    font-size: 30px;
    padding: 2px 2px 2px 2px;
}

ion-button{
   --background:#2b3e86f2!important;
  height:2em;
//    padding: 2px 2px 2px 2px;
 }

ion-item-divider{
    width: 77%;
    margin-left: 3em;   
}
ion-icon{
    font-size:27px;
    color:white;
}
ion-label{
    font-size:12px;
}


img{
    height: 2em;
    width: 2em;
}

#banner{
    background: #bfbdbd3d!important;
    margin-top: 1em;
}

#valued_image{
    height:10em!important;
    width: 10em!important;
}

 
 #cart-badge {
    position: absolute;
    top: 6px;
    right: 0px;
    background: red;
    color:white;
    border-radius: 20px;
 }

//  ion-input{
//     border: 1px solid #a59d9dba;
//  }
 ion-textarea{
    border: 1px solid #f5d76e;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px #f9dd7d;
}
span{
    font-size:15px;
    font-weight:normal;
}
ion-input{
    margin-left:7px;
}

