





<ion-content>
 


  <ion-header>
    <ion-toolbar>
      <ion-icon [routerLink]="['/dashboard']" class="ion-margin-start" slot="start" name="arrow-back"></ion-icon>
     
    
        <ion-icon class="ion-margin-end" slot="end" id="cart-icon" name="cart">
          
        </ion-icon>
        <ion-badge id="cart-badge">{{count}}</ion-badge>
  
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>
  
  <ion-grid>
    <ion-row>
      <ion-col col-12 >
  <div class="ion-text-center">
    <img id="valued_image" src="http://localhost:8080/products/{{image?.split('\\')[2]}}">
  </div>
  </ion-col>
    </ion-row>
  </ion-grid>
  

  <form [formGroup]="modifyFormGroup">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          
          <span>Rs. {{price}}</span>
          <p>{{desc}}</p>
        </div >
        </ion-col>
  
    </ion-row>  
  </ion-grid>
  
  
  
  <ion-grid>
    <ion-row center>
    
      <ion-col size="2">
      
          <ion-button (click)="minus()" >-</ion-button>
    
      </ion-col>  
      <ion-col size="2">
              <ion-input formControlName="quantity" [(ngModel)]= "Quantity"></ion-input>
      </ion-col>
      <ion-col col-2>
        <ion-button (click)="plus()">+</ion-button>
      </ion-col>
      <ion-col >
        <ion-label class="ion-margin-top">Total</ion-label>
      </ion-col>
      <ion-col>
        <ion-input  formControlName="total"[(ngModel)]= "total"></ion-input>
      </ion-col>
    </ion-row >
  </ion-grid>


  <div class="bar bar-header bar-positive" id="banner">
    <ion-grid>
      <ion-row>
        <ion-col offset="1">
         <img src="../../assets/images/cycle.png">
        </ion-col>
  
        <ion-col>
          <img src="../../assets/images/money-back.png">
         </ion-col>
  
         <ion-col>
          <img src="../../assets/images/truck.png">
         </ion-col>
  
         <ion-col>
          <img src="../../assets/images/offer.png">
         </ion-col>
  
       
  
         <ion-col>
          <img src="../../assets/images/set.png">
         </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  <ion-grid>
    <ion-row>
      <ion-col>
  
        <ion-button expand="block" (click)="cart()">Add to Cart</ion-button> <br>
        <ion-button expand="block" (click)="order()">Place Order</ion-button>
      </ion-col>
    </ion-row>
  
    <ion-col>
      
    </ion-col>
  </ion-grid>
</form>
  
  
    
  
</ion-content>
<!---Footer-->
<ion-footer style="text-align: center;">
  <ion-toolbar id="footer">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-icon id="brief" name="briefcase"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon id="brief" name="notifications"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon id="brief" [routerLink]="['/user-profile']" name="person"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>