<ion-content>
  <ion-col>
    <div class="ion-text-center ion-margin-top">
      <img src="assets/images/whitebg11.jpg">
    </div>
  </ion-col>

  <p class="ion-margin-top ion-margin-start login">Login to your Account</p>

  <form [formGroup]="modifyFormGroup" class="box">
    <div class="row" *ngIf="showMsg">
      <p class="alert alert-danger ion-text-center">
      <strong class="ion-margin-start " style="color:red;">Invalid User</strong>.
    </p>
    </div>
  
    </div>
    <div class="row" *ngIf="server">
      <div class="col-xs-12">
        <p style="font-weight: bold;font-size:13px;" class="alert alert-success">
          Something Went Wrong..!!


        </p>
      </div>  
    </div>
    <div *ngIf="valid">
      <p class="ion-margin-start " *ngIf="modifyFormGroup.get('Email_address').hasError('required')">Email Required</p>
      </div>
    <ion-grid>
      <ion-row>
     <ion-col class="ion-margin-start">
     <ion-input formControlName="Email_address" class="ion-margin-top ion-margin-start"
      placeholder="Email"></ion-input>
       </ion-col>
      </ion-row>
    </ion-grid>
  

    <div *ngIf="valid">
      <p class="ion-margin-start" *ngIf="modifyFormGroup.get('password').hasError('required')">Password Required</p>
    </div>




    <ion-grid>
      <ion-row>
     <ion-col class="ion-margin-start">
     <ion-input type="password" formControlName="password" class="ion-margin-top ion-margin-start"
      placeholder="Password"></ion-input>
       </ion-col>
      </ion-row>
    </ion-grid>


    
    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin-start">
          <ion-button (click)="login()" class="ion-text-center ion-margin-top ion-margin-start">Sign in</ion-button>
          <p class="ion-text-end ion-margin-end" id="forgot" routerLink="/forgot-password">Forgot Password?</p>
        </ion-col>
      </ion-row>
       </ion-grid>
    

   
  </form>
  <p class="ion-margin-top ion-text-center ion-margin-start signup">Don't have an account?
    <span [routerLink]="['/reseller']">Sign up</span></p>


</ion-content>