
ion-icon {
    background: white;
    color:#F37335;
    border-radius:20px;
    height:1em;
    width: 2em;
        margin:4px 0px -2px 26px;
  }
  ion-toolbar{
    --background:#0b074d;
  }
  ion-menu-button{
    color:#F37335;
  }
  ion-title{
      color:white;
  }
  table { 
    width: 100%; 
    border-collapse: collapse; 
}
th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}
td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
    font-size:10px;
     font-family: 'Open Sans', sans-serif;;
}
