<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Register Users<ion-icon  name="person-add"></ion-icon >
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>   -->
    <!-- <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div> -->
<ion-content>
<p text-center><img src="assets/images/whitebg11.jpg" height="60" width="100"></p>
 <table>
   <thead>
     <tr>
       <th>Full Name</th>
       <th>Email</th>
       <th>Password</th>
       <th>Confirm Password</th>
       <th>Date of Register</th>

     </tr>
   </thead>
 </table>

</ion-content>

