<ion-header>
  <ion-toolbar>
    <ion-icon class="ion-margin-start" slot="start" name="arrow-back"></ion-icon>
    <ion-icon id="cart-icon" class="ion-margin-end" slot="end" name="cart"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

<ion-grid>
  <ion-row>
    <ion-col col-12 offset="2">
<div class="ion-text-center">
  <img id="valued_image"src="../../assets/images/image9.jpg">
</div>
</ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-center">

        <span>INR 344343.00</span>
        <p>Product Description</p>
      </div >
      </ion-col>

  </ion-row>  
</ion-grid>



<ion-grid>
  <ion-row center>
    <ion-col></ion-col>
    <ion-col>
      <div>
        <ion-button>+</ion-button>
    </div>
    </ion-col>
    
    <ion-col>
      <ion-input></ion-input>
    </ion-col>
    <ion-col>
      <ion-button>-</ion-button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row >
</ion-grid>
<div class="bar bar-header bar-positive" id="banner">
  <ion-grid>
    <ion-row>
      <ion-col offset="1">
       <img src="../../assets/images/cycle.png">
      </ion-col>

      <ion-col>
        <img src="../../assets/images/money-back.png">
       </ion-col>

       <ion-col>
        <img src="../../assets/images/truck.png">
       </ion-col>

       <ion-col>
        <img src="../../assets/images/offer.png">
       </ion-col>

     

       <ion-col>
        <img src="../../assets/images/set.png">
       </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-grid>
  <ion-row>
    <ion-col>

      <ion-button expand="block">Buy Now</ion-button> <br>
      <ion-button expand="block">Place Order</ion-button>
    </ion-col>
  </ion-row>

  <ion-col>
    
  </ion-col>
</ion-grid>


  








 




 




  




 




</ion-content>
