<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGiVU5AazUo9Op4o_-hd-hCsPuTkO7VZN361mYnqhsXYALIi3-&s"
      slot="end" style="height: 39px;border-radius: 25px;margin: 10px;">
    <ion-title>
      <img src="assets/images/whitebg.jpg" height="60" width="100">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="prod">
    <form [formGroup]="forms">
      <ion-item lines="none">
        <ion-label>category</ion-label>
        <ion-select (ionChange)=" alert(signup)" [(ngModel)]="signup.state" placeholder="Please Select State"
          formControlName="category">
          <ion-select-option *ngFor="let state of statelist" [value]="state.state_id">{{state.state_name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="forms.get('category').hasError('required')">Category is Required </p>
      </div>
      <ion-item>
        <ion-label> Sub category</ion-label>
        <ion-select formControlName="sub">
          <ion-select-option value="deal">Deal Of the day</ion-select-option>
          <ion-select-option value="new">New Arrivals</ion-select-option>
          <ion-select-option value="trending">Trending</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="forms.get('sub').hasError('required')">Sub category is Required </p>
      </div>
      <ion-item>
        <ion-label>Name of Product </ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="forms.get('name').hasError('required')">Name is Required </p>
      </div>
      <ion-item>
        <ion-label>Price of Product </ion-label>
        <ion-input formControlName="price"></ion-input>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="forms.get('price').hasError('required')">Price is Required </p>
      </div>
      <ion-item>
        <ion-label>Discount </ion-label>
        <ion-input formControlName="discount"></ion-input>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="forms.get('discount').hasError('required')">Discount is Required </p>
      </div>
      <ion-item>
        <ion-textarea formControlName="desc" rows="3" cols="15" placeholder="Please Enter the Desription of the ...">
        </ion-textarea>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="forms.get('desc').hasError('required')">Description Required </p>
      </div>
      <ion-item>
        <ion-input type="file" id="file" (change)="selectFiles($event)" formControlName="image"
          class="ion-margin-top ion-margin-start ion-padding-end"></ion-input>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="forms.get('image').hasError('required')">Image Required </p>
      </div>
      <ion-item>
        <ion-input type="file" id="file" (change)="selectFiles($event)" formControlName="image1"
          class="ion-margin-top ion-margin-start ion-padding-end"></ion-input>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="forms.get('image').hasError('required')">Image Required </p>
      </div>
      <ion-item>
        <ion-input type="file" id="file" (change)="selectFiles($event)" formControlName="image2"
          class="ion-margin-top ion-margin-start ion-padding-end"></ion-input>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="forms.get('image').hasError('required')">Image Required </p>
      </div>
      <ion-item>
        <ion-input type="file" id="file" (change)="selectFiles($event)" formControlName="image3"
          class="ion-margin-top ion-margin-start ion-padding-end"></ion-input>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="forms.get('image').hasError('required')">Image Required </p>
      </div>
      <ion-item>
        <ion-input type="file" id="file" (change)="selectFiles($event)" formControlName="image4"
          class="ion-margin-top ion-margin-start ion-padding-end"></ion-input>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="forms.get('image').hasError('required')">Image Required </p>
      </div>
      <div class="row">
        <div class="col text-center ion-margin-top">
          <ion-button (click)="add()" color="danger">
            post
          </ion-button>
        </div>
      </div>
    </form>
  </div>
  <!------------------Property Fileds ----------------------------->
  <div *ngIf="property">
    <form [formGroup]="propertyforms">
      <ion-item lines="none">
        <ion-label>Category</ion-label>
        <ion-select (ionChange)=" alert(signup)" [(ngModel)]="signup.state" formControlName="category"
          placeholder="Please Select State">
          <ion-select-option *ngFor="let state of statelist" [value]="state.state_id">{{state.state_name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Name of Property </ion-label>
        <ion-input formControlName="propertyname"></ion-input>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="propertyforms.get('propertyname').hasError('required')">PropertyName required
        </p>
      </div>
      <ion-item>
        <ion-textarea formControlName="propertydesc" rows="3" cols="15"
          placeholder="Enter the Desription of the property"></ion-textarea>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="propertyforms.get('propertydesc').hasError('required')">Property Description
          required </p>
      </div>
      <ion-item>
        <ion-label>Price of Property</ion-label>
        <ion-input formControlName="propertyprice"></ion-input>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="propertyforms.get('propertyprice').hasError('required')">Propertyprice required
        </p>
      </div>
      <ion-item>
        <ion-input type="file" id="file" (change)="selectFiles($event)" formControlName="propertyimage"
          class="ion-margin-top ion-margin-start ion-padding-end"></ion-input>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="propertyforms.get('propertyimage').hasError('required')">PropertyImage required
        </p>
      </div>
      <ion-item>
        <ion-input type="file" id="file" (change)="selectFiles($event)" formControlName="propertyimage1"
          class="ion-margin-top ion-margin-start ion-padding-end"></ion-input>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="propertyforms.get('propertyimage').hasError('required')">PropertyImage required
        </p>
      </div>
      <ion-item>
        <ion-input type="file" id="file" (change)="selectFiles($event)" formControlName="propertyimage2"
          class="ion-margin-top ion-margin-start ion-padding-end"></ion-input>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="propertyforms.get('propertyimage').hasError('required')">PropertyImage required
        </p>
      </div>
      <ion-item>
        <ion-input type="file" id="file" (change)="selectFiles($event)" formControlName="propertyimage3"
          class="ion-margin-top ion-margin-start ion-padding-end"></ion-input>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="propertyforms.get('propertyimage').hasError('required')">PropertyImage required
        </p>
      </div>
      <ion-item>
        <ion-input type="file" id="file" (change)="selectFiles($event)" formControlName="propertyimage4"
          class="ion-margin-top ion-margin-start ion-padding-end"></ion-input>
      </ion-item>
      <div *ngIf="valid">
        <p class="ion-no-margin" *ngIf="propertyforms.get('propertyimage').hasError('required')">PropertyImage required
        </p>
      </div>
      <div class="row">
        <div class="col text-center ion-margin-top">
          <ion-button (click)="propertyAdd()" color="danger">
            post property
          </ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>


<ion-footer style="text-align: center;">
  <ion-toolbar id="footer">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <i class="material-icons" id="brief"  [routerLink]="['/admindashboard']">dashboard</i>
        </ion-col>
        <ion-col size="4">
          <ion-icon id="brief" [routerLink]="['/adminorders']" name="cart"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon id="brief" [routerLink]="['/user-profile']" name="person"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>