<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGiVU5AazUo9Op4o_-hd-hCsPuTkO7VZN361mYnqhsXYALIi3-&s"
      slot="end" style="height: 39px;border-radius: 25px;margin: 10px;">
    <ion-title>
      <img src="assets/images/whitebg.jpg" height="60" width="100">


    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form  [formGroup]="forms">
  <ion-item>
    <ion-label>Name of Product </ion-label>
    <ion-input formControlName="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Price of Product </ion-label>
    <ion-input formControlName="price"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label>Discount </ion-label>
    <ion-input formControlName="discount"></ion-input>
  </ion-item>

<ion-item>
  <ion-textarea formControlName="desc" rows="3" cols="15" placeholder="Please Enter the Desription of the ..."></ion-textarea>
</ion-item>

<ion-item>
  <ion-label>Post In</ion-label>
  <ion-select  formControlName="category" placeholder="Category">
    <ion-select-option   value="Deal">Deal Of the Day</ion-select-option>
    <ion-select-option   value="New">New Arrivals</ion-select-option>
    <ion-select-option   value="Trending">Trending Products</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label for="time">Image *</ion-label>
  <img [src]="imageUrl"   style="width:250px;height: 200px;">
</ion-item>
<ion-item>
<ion-input type="file" formControlName="image" #image accept="image/*" name="image" (change)="handleFileInput($event.target.files)"> </ion-input>
</ion-item>

<!--
<ion-button (click)="PickImage()" style="margin-top: 3em;
margin-left:5em;">Choose An Image </ion-button>-->
<ion-button  (click)="add()" color="danger">Post</ion-button>
</form>
</ion-content>


<ion-footer style="text-align: center;">
  <ion-toolbar id="footer">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-icon id="brief" name="briefcase"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon id="brief" name="notifications"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon id="brief" name="person"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>