ion-content{
  //  --background:linear-gradient(#434343, #000000);
  --background:#ddd6f3;
  font-family: 'Abel', sans-serif!important;
}
ion-item{
   // --background:linear-gradient(#ffc3a0 , #ffafbd);
    margin-top:3em;
    --background:#ffffffff;
    font-family: 'Abel', sans-serif!important;
}
ion-button{
  text-transform: uppercase;
}

.align{
    color:#0b074d;
    margin-left:7px;
    font-size: 21px;
    float: left;
}

ion-icon {
    background: White;
    border-radius:20px;
    color:#031646;
  }
  ion-toolbar{
    --background:#0b074d;
  }
  ion-menu-button{
    color:#F37335;
  }
p{
  color:rgb(199, 34, 34);
}

   
  #footer{
    --background:#031646!important;
    height:47px!important;
       }
