<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">


    <!--------ADMIN DASHBOARD---------------->      
<ion-header>

</ion-header>
    

<ion-content>
  <div *ngIf="admin">
<h5 class="ion-text-center">Hello &nbsp;&nbsp;&nbsp;<ion-label>{{owner_name}}</ion-label></h5> 

<ion-list  lines="none">
  <ion-menu-toggle auto-hide="true">
    <ion-item>
        <i class="material-icons" [routerLink]="['/admindashboard']">dashboard</i>
        <ion-label [routerLink]="['/admindashboard']" class="ion-margin-start">Dashboard</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>

<ion-list  lines="none">
    <ion-menu-toggle auto-hide="true">
      <ion-item>
          <ion-icon [routerLink]="['/reseller']" name="person-add"></ion-icon>
          <ion-label [routerLink]="['/reseller']" class="ion-margin-start">Add Users</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
 

  <ion-list  lines="none">
      <ion-menu-toggle auto-hide="true">
        <ion-item>
            <ion-icon [routerLink]="['/admin']" name="eye"></ion-icon>
            <ion-label [routerLink]="['/admin']" class="ion-margin-start">View Users</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
   

    <ion-list  lines="none">
        <ion-menu-toggle auto-hide="true">
          <ion-item>
              <ion-icon [routerLink]="['/add-product']" name="add-circle"></ion-icon>
              <ion-label  [routerLink]="['/add-product']" class="ion-margin-start">Add Product</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
     

      <ion-list  lines="none">
          <ion-menu-toggle auto-hide="true">
            <ion-item>
                <ion-icon  [routerLink]="['/product-list']" name="people"></ion-icon>
                <ion-label  [routerLink]="['/product-list']" class="ion-margin-start">All Products</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


        <ion-list  lines="none">
            <ion-menu-toggle auto-hide="true">
              <ion-item>
                  <i  [routerLink]="['/property-list']" class="material-icons">landscape</i>
                  <ion-label  [routerLink]="['/property-list']" class="ion-margin-start">All Property</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>


          <ion-list  lines="none">
              <ion-menu-toggle auto-hide="true">
                <ion-item>
                    <ion-icon (click)="logOut()" name="power"></ion-icon>
                    <ion-label (click)="logOut()" class="ion-margin-start">Logout</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
              
          </div>
        





  

  
  
   <!--------USER DASHBOARD---------------->                                                                                                   
<div *ngIf="user">
<ion-toolbar>
<ion-searchbar  placeholder='SHOP BY CATEGORY'></ion-searchbar>
</ion-toolbar>
</div>


<div *ngIf="user">
  <h5 class="ion-text-center">Hello &nbsp;&nbsp;&nbsp;<ion-label>{{owner_name}}</ion-label></h5> 



  
<ion-list lines="none">
  <ion-item>
      <ion-icon [routerLink]="['/dashboard']" name="home" slot="start"></ion-icon>
      <ion-label [routerLink]="['/dashboard']">DashBoard</ion-label>
      <ion-icon name="arrow-dropright" id="electro" slot="end" [routerLink]="['/dashboard']"></ion-icon>
    </ion-item>
</ion-list>




<ion-list lines="none" *ngFor=" let p of categorys">
  <ion-menu-toggle auto-hide="true">
  <ion-item>
      <ion-icon name="tv" slot="start"></ion-icon>
      <ion-label [routerLink]="['/testo',p.name]">{{p.name}}</ion-label>
      <ion-icon name="arrow-dropright"id="electro" slot="end" (click)="presentModal()"></ion-icon>
    </ion-item>
    </ion-menu-toggle>
</ion-list>

    
<ion-list lines="none">
  <ion-menu-toggle auto-hide="true">
    <ion-item >
      <ion-icon name="basket" slot="start"></ion-icon>
      <ion-label [routerLink]="['/add-product']" >Add Products</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>


<ion-list  lines="none">
  <ion-menu-toggle auto-hide="true">
    <ion-item >
      <ion-icon name="briefcase"  slot="start"></ion-icon>
      <ion-label [routerLink]="['/ordersummary']">Order History</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>
  
<ion-list  lines="none">
  <ion-menu-toggle auto-hide="true">
    <ion-item >
      <ion-icon name="cart" slot="start"></ion-icon>
      <ion-label>My Cart</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>
      
            

<ion-list  lines="none">
    <ion-menu-toggle auto-hide="true">
      <ion-item (click)="goto(page)">
        <ion-icon name="pricetags" slot="start"></ion-icon>
        <ion-label>Offer Zone</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>

      
          
  <ion-list  lines="none">
      <ion-menu-toggle auto-hide="true">
        <ion-item (click)="goto(page)">
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>My Wishlist</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>


<ion-list  lines="none">
    <ion-menu-toggle auto-hide="true">
      <ion-item (click)="goto(page)">
        <ion-icon name="microphone" slot="start"></ion-icon>
        <ion-label>Choose Language</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>

           
    <hr>
<p class="ion-text-center" (click)="presentModal()" >Help Center</p>
<p class="ion-text-center">Legal Policy</p>
<p class="ion-text-center" (click)="logOut()">Logout</p>
</div>


</ion-content> 

    
   
     
</ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>