


<ion-app>
  <ion-split-pane contentId="main-content">
  <ion-menu  contentId="main-content" type="overlay">
  <ion-header>
    <img src="../assets/images/bluesea.jpg">
  
   <!--<ion-toolbar style="margin-top: -4px;" >
  <ion-title>
  
    <img src="../assets/images/bluesea.jpg">
  <p *ngIf="admin">
  <ion-label>Hello Admin</ion-label></p>
  <p *ngIf="Users">
    <ion-label>Hello User</ion-label></p>
    
  </ion-title>
  </ion-toolbar>-->
  </ion-header>
<h5 class="ion-text-center">Hello Admin</h5>
  
  <!-- 
  <ion-content>
   <ion-list>
  <ion-searchbar (ionInput)="FilterJSONData($event)" style=" font-family: 'Open Sans', sans-serif;" placeholder='SHOP BY CATEGORY'></ion-searchbar>
  <ion-list style="margin-top: 1em;">
  <button ion-item style="background: #eeeeee;">
  <ion-icon name="tv" item-start></ion-icon>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span (click)="presentPopover($event)"
  >Electronics</span>
  </button>
  <ion-icon id="sidebar_right_icon" name="arrow-dropright" slot="end" (click)="presentPopover($event)">
  </ion-icon>
  </ion-list>
  </ion-list>
  
  
  <ion-list style="margin-top: -1em;">
  <ion-list>
  <button ion-item style="background: #eeeeee;">
  <ion-icon name="home" item-start></ion-icon>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span (click)="presentPopover($event)"
  >Home Appliances</span>
  </button>
  <ion-icon id="sidebar_right_icon2"  name="arrow-dropright" slot="end" (click)="presentPopover($event)">
  </ion-icon>
  </ion-list>
  </ion-list>
  
  
  <ion-list style="margin-top:-3px;">
  <button ion-item  style="background: #eeeeee;">
  <ion-icon name="pricetags" item-start></ion-icon>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Offer Zone</span>
  </button>
  </ion-list>
  
                                                                                                      
  <ion-list>
  <button ion-item  style="background: #eeeeee;">
  <ion-icon name="briefcase"  item-start></ion-icon>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>My Orders</span>
  </button>
  </ion-list>
  
  <ion-list>
  <button ion-item  style="background: #eeeeee;">
  <ion-icon name="cart" item-start></ion-icon>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>My Cart</span>
  </button>
  </ion-list>
  
  <ion-menu-toggle>
  <ion-list>
  <button ion-item  style="background: #eeeeee;">
  <ion-icon name="heart" item-start></ion-icon>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>My Wishlist</span>
  </button>
  </ion-list>
  </ion-menu-toggle>
  
  
  
  <ion-menu-toggle>
  <ion-list>
  <button ion-item  style="background: #eeeeee;">
  <ion-icon name="microphone"   item-start></ion-icon>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Choose Language</span>
  </button>
  </ion-list>
  </ion-menu-toggle>
  
  
  <hr>
  <p text-center >Help Center</p>
  <p text-center >Legal Policy</p>
  <p text-center>Logout</p>
  </ion-content> 
   -->
  

   
  <ion-content>
 
    <ion-item lines="none">
      <i class="material-icons">dashboard</i>
   
<ion-list  [routerLink]="['/admindashboard']">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DashBoard</ion-list >
      </ion-item>
      
    
    <ion-item lines="none">
    <ion-icon name="person-add"></ion-icon> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    <ion-list [routerLink]="['/register']" class="ion-text-center">Add Users</ion-list>
    </ion-item>
    
    <ion-item lines="none">
      <ion-icon name="eye"></ion-icon> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-list class="ion-text-center" [routerLink]="['/admin']">View Users</ion-list>
      </ion-item>
  
      
    <ion-item lines="none">
      <ion-icon name="add-circle"></ion-icon>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-list class="ion-text-center" [routerLink]="['/add-product']">Add Product</ion-list>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="people"></ion-icon> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        <ion-list class="ion-text-center" [routerLink]="['/product-list']">All products</ion-list>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="power"></ion-icon> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;
          <ion-list class="ion-text-center" (click)="logOut()">LogOut</ion-list>
          </ion-item>
      
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  </ion-app>
  
  
  
  