ion-icon {
    background: White;
    border-radius:20px;
  }
  ion-toolbar{
    --background:#0b074d;
  }
  ion-menu-button{
    color:#F37335;
  }

  ion-icon{
    color:navy;
    font-size: 21px;
  }
  #footer{
    --background:#031646!important;
    height:47px!important;
       }


       #brief{
        margin-right: 1em;
        color:navy;
        font-size:21px; 
        margin-top: -5px;
        border-radius:15px;
        background:white;
      
      }