<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGiVU5AazUo9Op4o_-hd-hCsPuTkO7VZN361mYnqhsXYALIi3-&s"
      slot="end" style="height: 39px;border-radius: 25px;margin: 10px;">
    <ion-title>
      <img src="assets/images/whitebg.jpg" height="60" width="100">


    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 style="text-align: center;"> View All Users</h3>






  <table mat-table [dataSource]="listData" class="table">



    <ng-container matColumnDef="Email_address">
      <th style="color: white;font-size: 16px;background: #031646;" mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let arr"> {{arr.Email_address}} </td>
    </ng-container>


    <ng-container matColumnDef="phone_no">
      <th style="color: white;font-size: 16px;background: #031646;" mat-header-cell *matHeaderCellDef> Phone number </th>
      <td mat-cell *matCellDef="let arr"> {{arr.phone_no}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th style="color: white;font-size: 16px;background: #031646;" mat-header-cell *matHeaderCellDef> Options </th>
      <td mat-cell *matCellDef="let arr">

        <button *ngIf="arr.status == 0 else noResults" [ngClass]="arr.status == 0 ? 'btn-primary':'btn-danger'" (click)="approve(arr.status,arr.id)"> Approve</button>
        <ng-template #noResults>
            <button [ngClass]="arr.status == 0 ? 'btn-primary':'btn-danger'" (click)="approve(arr.status,arr.id)"> DisApprove</button>
         </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ion-content>


<ion-footer style="text-align: center;">
  <ion-toolbar id="footer">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-icon id="brief" name="briefcase"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon id="brief" name="notifications"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon id="brief"  [routerLink] = "['/user-profile']" name="person"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>