<!-- 
<ion-content class="background">
   
    <ion-grid style="margin-top:1.2em;">
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8>
            
        </ion-col>
        <ion-col col-2>
 
        </ion-col>

      </ion-row>

      <div class="content">
          <p style="padding-left:0px;" ion-text-center> <img src="assets/images/user.png" height="90" width="90"></p> 
          <div class="ion-padding" style="margin-top:36px;">
            <div class="row"  *ngIf="showMsg">
              <div class="col-xs-12">
                <p  style="font-weight: bold;font-size:13px;"class="alert alert-success">
                   You have Successfully Registered..<br><br>
                    <strong style="color:black;font-size:16px;">Please Sign In..</strong>
                   
      
                </p>
              </div>
            </div>
            <div class="row"  *ngIf="server">
              <div class="col-xs-12">
                <p  style="font-weight: bold;font-size:13px;"class="alert alert-success">
     Please try again Later
                   
      
                </p>
              </div>
            </div>
            <form  [formGroup]="modifyFormGroup" class="box">
              <div>
              </div>
              <div *ngIf="valid">
                <p *ngIf="modifyFormGroup.get('username').hasError('required')">Name Required</p>
            
              </div>
              <ion-input   formControlName="username" style="color:black;" placeholder="User Name">
                <ion-icon style="color:darkblue;font-size: 24px;" name="person"></ion-icon>
              </ion-input> <br>
    
    
              <div>
              </div>
              <div *ngIf="valid">
                <p *ngIf="modifyFormGroup.get('email').hasError('required')">Email Required</p>
            
              </div>
              <ion-input  formControlName="email" style="color:black;" placeholder="Email">
                  <ion-icon style="color:darkblue;font-size:24px;"name="mail"></ion-icon>

                </ion-input> <br>

                    <div>
                    </div>
                    <div *ngIf="valid">
                      <p *ngIf="modifyFormGroup.get('password').hasError('required')">Password Required</p>
                  
                    </div>
              <ion-input  formControlName="password" style="color:black;"  type="password" placeholder="Password">
                <ion-icon style="color:darkblue;font-size:24px;" name="lock"></ion-icon>
              </ion-input> <br>

                      <div>
                      </div>

                      <div *ngIf="valid">
                        <p *ngIf="modifyFormGroup.get('cpass').hasError('required')">Confirm Password Required</p>
                    
                      </div>
                      <div *ngIf="valid">
                        <p *ngIf="modifyFormGroup.hasError('notMatching')"> Passwords Not Matching </p>
                      </div>
                    <ion-input  formControlName="cpass" style="color:black;"  type="password" placeholder="Confirm Password">
                          <ion-icon style="color:darkblue;font-size:24px;" name="lock"></ion-icon>
                        </ion-input>

                     


                        <div></div>
                        <p ion-text-center>Already have an account?&nbsp;<a [routerLink]="['/home']">SignIn</a></p>

                        
<br>
<div ></div>
<ion-input class="submit" (click)="Register()" style="background:darkblue;color:white;padding:5px;margin-top:7px;width:158px;padding:2px 2px;height:35px;" type="submit" value="Get Registered">
    <ion-icon style="color:white;font-size:24px;" name="checkmark"></ion-icon>
</ion-input>
           
              
            </form>
    
          </div>
    
        
    
        
              
              
         
          </div>




      </ion-grid>
      </ion-content>
       -->





<ion-content>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
  
</ion-refresher-content>
   

</ion-refresher>

  <ion-row>
    <ion-col>
      <ion-icon [routerLink]="['/login']" class="ion-margin-top ion-margin-start" name="arrow-back"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-col>
    <div class="ion-text-center ion-margin-top">
      <img src="assets/images/whitebg11.jpg">
    </div>
  </ion-col>

  <h3 class="ion-margin-top ion-margin-start login">Partner Account</h3>
  <form [formGroup]="modifyFormGroup">
    <div *ngIf="valid">
      <p class="ion-margin-start" *ngIf="modifyFormGroup.get('Business_name').hasError('required')">Business Name
        Required </p>
    </div>
    <ion-input formControlName="Business_name" class="ion-margin-top ion-margin-start ion-padding-end"
      placeholder="Business Name *"></ion-input>


    <div *ngIf="valid">
      <p class="ion-margin-start" *ngIf="modifyFormGroup.get('owner_name').hasError('required')">Owner Name Required
      </p>
    </div>

    <ion-input formControlName="owner_name" class="ion-margin-top ion-margin-start ion-padding-end"
      placeholder="Owner Name *"></ion-input>


    <div *ngIf="valid">
      <p class="ion-margin-start" *ngIf="modifyFormGroup.get('owneraddress').hasError('required')">Owner Address
        Required </p>
    </div>
    <ion-textarea formControlName="owneraddress" class="ion-margin-top ion-margin-start ion-padding-end"
      placeholder="Owner Address *"></ion-textarea>


    <div *ngIf="valid">
      <p class="ion-margin-start" *ngIf="modifyFormGroup.get('Email_address').hasError('required')">Email Address
        Required </p>
    </div>
    <div  *ngIf="modifyFormGroup.get('Gst_no').hasError('email')">Email must be a valid email address</div>
    <ion-input formControlName="Email_address" class="ion-margin-top ion-margin-start ion-padding-end"
      placeholder="Email_address*"></ion-input>


    <div *ngIf="valid">
      <p class="ion-margin-start" *ngIf="modifyFormGroup.get('Gst_no').hasError('required')">Gst_no Required
      </p>
    </div>
    <ion-input formControlName="Gst_no" class="ion-margin-top ion-margin-start ion-padding-end"
      placeholder="Gst_no *"></ion-input>

      <div *ngIf="valid">
        <p class="ion-margin-start" *ngIf="modifyFormGroup.get('phone_no').hasError('required')">Phone No Required </p>
      </div>
      <ion-input type="text" (keypress)="keyPress($event)" minlength=10 maxlength=10  formControlName="phone_no" class="ion-margin-top ion-margin-start ion-padding-end"
        placeholder="Phone  No *"></ion-input>

    <div *ngIf="valid">
      <p class="ion-margin-start" *ngIf="modifyFormGroup.get('password').hasError('required')">Password Required
      </p>
    </div>
    <ion-input type="password"formControlName="password" class="ion-margin-top ion-margin-start ion-padding-end"
      placeholder="Password *"></ion-input>
      <div *ngIf="valid">
        <p *ngIf="modifyFormGroup.hasError('notMatching')"> Passwords Not Matching </p>
      </div>

      <div *ngIf="valid">
        <p class="ion-margin-start" *ngIf="modifyFormGroup.get('cpass').hasError('required')">Confirm Password Required
        </p>
      </div>
      <ion-input  type="password" formControlName="cpass" class="ion-margin-top ion-margin-start ion-padding-end"
        placeholder="Confirm Password *"></ion-input>
  
    <div *ngIf="valid">
      <p class="ion-margin-start" *ngIf="modifyFormGroup.get('Registration_certificate').hasError('required')">
        Registration certificate Required </p>
    </div>
    <h3  style="font-size: 18px;"  class="ion-margin-top ion-margin-start ion-padding-end">Submit your proof's</h3>
    <ion-input type="file" (change)="selectFile($event)" formControlName="Registration_certificate"
      class="ion-margin-top ion-margin-start ion-padding-end" placeholder="Registration Certificate *"></ion-input>

   
    <ion-input type="file" (change)="selectFile($event)" id="ii" formControlName="GST_Certificate"
      class="ion-margin-top ion-margin-start ion-padding-end" placeholder="GST Certificate *"></ion-input>

   
    <ion-input type="file" (change)="selectFile($event)" value="dsfd" formControlName="Pan_card"
      class="ion-margin-top ion-margin-start ion-padding-end" placeholder="PAN Card *"></ion-input>



    <div *ngIf="valid">
      <p class="ion-margin-start" *ngIf="modifyFormGroup.get('Product_category').hasError('required')">Product Name
        Required </p>
    </div>
    <ion-input formControlName="Product_category" class="ion-margin-top ion-margin-start ion-padding-end"
      placeholder="Product Name *"> </ion-input>
    <div *ngIf="valid">
      <p class="ion-margin-start" *ngIf="modifyFormGroup.get('complete_address').hasError('required')">Complete Address
        Required </p>
    </div>

    <ion-textarea formControlName="complete_address" class="ion-margin-top ion-margin-start ion-padding-end"
      placeholder="Complete Address *"></ion-textarea>

    <ion-col>
      <ion-button (click)="register()" class="ion-text-center ion-margin-top ion-margin-start">Sign up</ion-button>
    </ion-col>
  </form>
</ion-content>