<ion-header>
  <ion-toolbar>
    <ion-icon class="ion-margin-start" slot="start" name="arrow-back"></ion-icon>
    <ion-icon id="cart-icon" class="ion-margin-end" slot="end" name="cart"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!--------- Search Bar-----------
<ion-grid>
  <ion-row>
    <ion-col size="6" offset="1">
      <ion-input id="search_line" class="ion-margin-top" placeholder="Search Items"></ion-input> 
  </ion-col>
  <ion-col offset="1">
    <ion-button class="ion-margin-top ion-margin-end" >CLEAR </ion-button>
  </ion-col>
  </ion-row>
</ion-grid>
-->


<!--------- Add to Cart Products----------->



<div *ngFor="let d of carts">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
      {{d.name}}
            <span> &#8377;. {{d.price}}</span>
           
          </div >
          </ion-col>
    
      </ion-row>  
    </ion-grid>
    
  
    <ion-grid>
      <ion-row>
        <ion-col>
        
            <ion-label position="stacked">Product Description</ion-label>
        
            <ion-textarea disabled readonly maxLength="500"
              value="{{d.desc}}">
            
            </ion-textarea>
          
          
        </ion-col>
      </ion-row>
    </ion-grid>
    
    
    <ion-grid class="ion-margin-start">
      <ion-row center>
      
        <ion-col size="1">
        <ion-button (click)="minus()" >-</ion-button>
       </ion-col> 
       
       
  
        <ion-col size="1">
       <ion-input class="ion-text-center" formControlName="quantity" [(ngModel)]="Quantity"value="{{d.quantity}}"></ion-input>
        </ion-col>
  
  
        <ion-col  size="4" >
          <ion-button (click)="plus()">+</ion-button>
        </ion-col>
  
  
        <ion-col>
          <ion-label class=" ion-float-right">Total</ion-label>
        </ion-col>
  
  
        <ion-col>
          <ion-input  formControlName="total" value="{{d.total}}" [(ngModel)]= "total"></ion-input>
        </ion-col>
      </ion-row >
    </ion-grid>
  
  
  
    
    <ion-grid>
      <ion-row>
        <ion-col>

          <ion-button style="margin-top:4em;"  (click)="add()" expand="block">Order Now</ion-button>
        </ion-col>
      </ion-row>
    
      <ion-col>
        
      </ion-col>
    </ion-grid>
  </form>
</div>
</ion-content>
