<ion-header>
  <ion-toolbar>
    <ion-icon (click)="backClicked()" class="ion-margin-start" slot="start" name="arrow-back"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!--------- Search Bar-----------
<ion-grid>
  <ion-row>
    <ion-col size="6" offset="1">
      <ion-input id="search_line" class="ion-margin-top" placeholder="Search Items"></ion-input> 
  </ion-col>
  <ion-col offset="1">
    <ion-button class="ion-margin-top ion-margin-end" >CLEAR </ion-button>
  </ion-col>
  </ion-row>
</ion-grid>
-->


<!--------- Add to Cart Products----------->


<ion-grid>
  <ion-row>
    <ion-col>

      <ion-button style="margin-top:1em;"  (click)="add()" size="small">Proceed to Buy </ion-button>&nbsp;&nbsp; <ion-label>Grand Total: </ion-label>Rs. {{total}} 
    </ion-col>
  </ion-row>

  <ion-col>
    
  </ion-col>
</ion-grid>

<h3 style="text-align: center;"> Carts List</h3>


  <ion-grid>
    <ion-row *ngFor="let d of carts">
      <ion-col col-6 >
        <ion-label>Prodcut: </ion-label>{{d.name}} <br>
        <img src="http://localhost:8080/products/{{d.image?.split('\\')[2]}}"><br>

<ion-label>Price: </ion-label>{{d.price}} <br>
<ion-label>Quantity: </ion-label>{{d.quantity}} <br>
<ion-label>Total: </ion-label>{{d.total}}<br>
<hr >
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
