ion-content{
    font-family: 'Noto Sans KR', sans-serif!important;
    font-weight: 600;
}
img{
    height:5em;
    width:7em;
}
ion-toolbar{
    --background:#031646;
}

#cart-icon{
    background: white;
    color: navy;
    border-radius: 20px;
    font-size: 30px;
    padding: 2px 2px 2px 2px;
}
 #search_line{
     border-bottom: 1px solid #b7377c;
//    width: 10em;
  }
ion-button{
    --background:#b7377c!important;
    height:2em;
    padding: 2px 2px 2px 2px;
}
#addtocart{
    font-size: 29px;
    color: green;
}
ion-item-divider{
    width: 77%;
    margin-left: 3em;
}

ion-icon{
    font-size:27px;
    color:white;
}
span,ion-label{
    font-size:12px;
}
#add{
    --background:#d84192!important;
   color:black;
    height:2em;
}

hr{
    height: 4px;
    border-width: 0;
    box-sizing: content-box;
    background: black;
}
