<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button ></ion-menu-button> -->
      <ion-icon style="color:white;" [routerLink]="['/dashboard']" name="arrow-round-back"></ion-icon>
    </ion-buttons>
    <ion-icon id="category_cart" slot="end" name="cart"></ion-icon>
    <ion-title>

      <p ion-text-center>All Category</p>
    </ion-title>
    <!-- <ion-searchbar placeholder="Search for Products,Brand and More" id="home-search" ></ion-searchbar>  -->

  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-grid>
    <ion-row>
      <ion-col>





        <ion-card style="height: 122px; width: 141px;">

          <ion-card-header>

            <img src="assets/images/monitor.png" style="padding: 0px 12px 5px 10px;" height="87px" width="99px">

            <span style="margin-left: 17px;">Electronics</span>

          </ion-card-header>
        </ion-card>


      </ion-col>
      <ion-col>
        <ion-card style="height: 122px; width: 141px;">

          <ion-card-header>

            <img src="assets/images/Smartphone_4.jpg" style="padding: 1px 28px 5px 21px;" height="87px" width="99px">

            <span>Mobiles&nbsp;&&nbsp;Tablets</span>

          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card style="height: 122px; width: 141px;">

          <ion-card-header>

            <img src="assets/images/home_tv.png" style="padding: 1px 14px 5px 1px;" height="87px" width="99px">

            <span >Home&nbsp;Appliances</span>

          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>



        <ion-card style="height: 122px; width: 141px;">

          <ion-card-header>

            <img src="assets/images/Headphones.png" style="padding: 0px 14px 18px 13px;" height="87px" width="99px">

            <span>Mobile&nbsp;Accesories</span>

          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>