

  <ion-header>
    <ion-toolbar>
      <ion-icon (click)="backClicked()" class="ion-margin-start" slot="start" name="arrow-back"></ion-icon>
     
    
        <ion-icon  [routerLink]="['/democart2']"  class="ion-margin-end" slot="end" id="cart-icon" name="cart">
          
        </ion-icon>
        <ion-badge [routerLink]="['/democart2']" id="cart-badge">{{count}}</ion-badge>
  
    </ion-toolbar>
  </ion-header>
  
<ion-content>


  <ion-grid>
    <ion-row>
      <ion-col>





        <ion-card style="height: 122px; width: 141px;">

          <ion-card-header>

            <img  [routerLink]="['/testo/Electronics']" src="assets/images/monitor.png" style="padding: 0px 12px 5px 10px;" height="87px" width="99px">

            <span  [routerLink]="['/testo/Electronics']" style="margin-left: 17px;">Electronics</span>

          </ion-card-header>
        </ion-card>


      </ion-col>
      <ion-col>
        <ion-card style="height: 122px; width: 141px;">

          <ion-card-header>

            <img [routerLink]="['/testo/Mobile&Tablets']" src="assets/images/Smartphone_4.jpg" style="padding: 1px 28px 5px 21px;" height="87px" width="99px">

            <span [routerLink]="['/testo/Mobile&Tablets']" >Mobiles&nbsp;&&nbsp;Tablets</span>

          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card style="height: 122px; width: 141px;">

          <ion-card-header>

            <img [routerLink]="['/testo/Home_Appliances']" src="assets/images/home_tv.png" style="padding: 1px 14px 5px 1px;" height="87px" width="99px">

            <span [routerLink]="['/testo/Home_Appliances']" >Home&nbsp;Appliances</span>

          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>



        <ion-card style="height: 122px; width: 141px;">

          <ion-card-header>

            <img [routerLink]="['/testo/Mobile_Accessory']" src="assets/images/Headphones.png" style="padding: 0px 14px 18px 13px;" height="87px" width="99px">

            <span [routerLink]="['/testo/Mobile_Accessory']">Mobile&nbsp;Accesories</span>

          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>



 

</ion-content>