<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon style=" margin-top: -53px;" slot="end" name="cart"></ion-icon>
    <ion-title>
      <img src="assets/images/whitebg.jpg" height="60" width="100">

    </ion-title>
    <ion-searchbar placeholder="Search for Products,Brand and More" id="home-search"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bar bar-header bar-positive">
    <ion-grid>
      <ion-row>
        <ion-col>
          <i class="material-icons" [routerLink]="['/all-category']">list</i>
          <span style="font-size: 9px;margin-left:-5px;">All&nbsp;Category </span>
        </ion-col>



        <ion-col>
          <img id="category" style="margin-left: 3px;" src="assets/images/giftbox.png">
          <span style="font-size: 9px; margin-left: -1px;">Offer&nbsp;Zone </span>
        </ion-col>


        <ion-col>
          <img id="category" style="margin-left: 1px;" src="assets/images/monitor.png">
          <span style="font-size: 9px;margin-left:-6px;">Electronics</span>
        </ion-col>
        <ion-col>
          <img id="android_phone" style="margin-left: 5px;" src="assets/images/Smartphone_4.jpg">
          <span style="font-size: 9px;">Mobiles&nbsp;&<br> Tablets</span>
        </ion-col>

        <ion-col>
          <img id="category" style="margin-left: 1px;" src="assets/images/home_tv.png">
          <span style="font-size: 9px;">Home&nbsp;&<br> Appliances</span>
        </ion-col>

        <ion-col>
          <img id="category" style="margin-left: -3px;" src="assets/images/Headphones.png">
          <span style="font-size: 9px;">Mobiles&nbsp;&<br> Accessories</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-slides [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">


    <ion-slide>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrldRGK67aQWU8lg6xeeD2EnfcDmKc_bOjBQWUUc1go866Cy6f&s"
        alt="change" srcset="">
    </ion-slide>


    <ion-slide>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStx0OPhhY_uRw1AQ8FmfRQL0RU5ukoLj-wjkH80yx9jJ7T6z4cXQ&s"
        alt="gossip" srcset="">
    </ion-slide>


    <ion-slide>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm2Ed-9_k3F0eH3tixqEnSROIwKcJWZ6zDTqJq_w0Qp60REWNiag&s"
        alt="change" srcset="">
    </ion-slide>


    <ion-slide>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX9TmxLGq3rTH238nEaTIo3GFEIeOlaA6x1W_o63j0bT1AhvZ1Vg&s"
        alt="change" srcset="">
    </ion-slide>

    <ion-slide>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStx0OPhhY_uRw1AQ8FmfRQL0RU5ukoLj-wjkH80yx9jJ7T6z4cXQ&s"
        alt="gossip" srcset="">
    </ion-slide>


    <ion-slide>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm2Ed-9_k3F0eH3tixqEnSROIwKcJWZ6zDTqJq_w0Qp60REWNiag&s"
        alt="gossip" srcset="">
    </ion-slide>
  </ion-slides>

  <ion-title style="padding:8px 2px 12px 2px;" class="deal" text-center>Deal of the Day</ion-title>


  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Offers on Electronics </ion-card-title>
          <hr>
        </ion-card-header>
        <ion-card-content>
          <img src="../../assets/images/image1.jpg" style="height:58px; width:109px;margin:-11px 2px 2px 2px;">
          <p>Deal on Electronics</p>
        </ion-card-content>
      </ion-card>
    </ion-col>


    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Top Appliances</ion-card-title>
          <hr>
        </ion-card-header>
        <ion-card-content>
          <img src="../../assets/images/image3.jpg" style="height:70px; width:117px;margin:-11px 2px 2px -2px;">
          <p style="padding: 0px 2px 2px 7px;">Deal on Appliances</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>

      <ion-card>
        <ion-card-header>

          <ion-card-title>Mobile Accessories</ion-card-title>
          <hr>
        </ion-card-header>

        <ion-card-content>
          <img src="../../assets/images/image4.jpg" style="height:70px; width:109px;margin:-11px 2px 2px 2px;">
          <p style="padding: 3px 2px 2px 17px;"> Mobile Smarter</p>
        </ion-card-content>

      </ion-card>
    </ion-col>


    <ion-col>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Deal On Laptops</ion-card-title>
          <hr>
        </ion-card-header>

        <ion-card-content>
          <img src="../../assets/images/image9.jpg" style="height:70px; width:80px;margin:-11px 2px 2px 2px;">
          <p style=" padding: 1px 2px 2px 18px;">Smart Gaming</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <!------------------New Arrivals----------------->
  <ion-title style="padding:8px 2px 12px 2px;" class="deal2" text-center>New Arrivals</ion-title>

  <ion-row>
    <ion-col>

      <ion-card>
        <ion-card-header>

          <ion-card-title>New Arrivals</ion-card-title>
          <hr>
        </ion-card-header>

        <ion-card-content>
          <img src="../../assets/images/image10.jpg" style="height:61px; width:110px;margin:-11px 2px 2px -2px;">
          <p>Into Offer Zone</p>
        </ion-card-content>
      </ion-card>
    </ion-col>


    <ion-col>

      <ion-card>
        <ion-card-header>

          <ion-card-title>New Arrivals</ion-card-title>
          <hr>
        </ion-card-header>

        <ion-card-content>
          <img src="../../assets/images/image11.jpg" style="height:61px; width:110px;margin:-11px 2px 2px -2px;">
          <p>Upcoming to Way</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>

      <ion-card>
        <ion-card-header>

          <ion-card-title>New Arrivals</ion-card-title>
          <hr>
        </ion-card-header>

        <ion-card-content>
          <img src="../../assets/images/image5.jpg" style="height:61px; width:110px;margin:-11px 2px 2px -2px;">
          <p>Smart Wireless Chargers </p>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>

      <ion-card>
        <ion-card-header>
          <ion-card-title>New Arrivals</ion-card-title>
          <hr>
        </ion-card-header>

        <ion-card-content>
          <img src="../../assets/images/image2.jpg" style="height:61px; width:110px;margin:-11px 2px 2px -2px;">
          <p>Home Appliances</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <!------------------------------Trending Products-------------------------------->
  <ion-title style="padding:8px 2px 12px 2px;" class="deal3" text-center>Trending Products </ion-title>
  <ion-row>
    <ion-col>

      <ion-card>
        <ion-card-header>

          <ion-card-title>New Trends</ion-card-title>
          <hr>
        </ion-card-header>

        <ion-card-content>
          <img src="../../assets/images/image8.jpg" style="height:61px; width:110px;margin:-11px 2px 2px -2px;">
          <p style="    padding: 9px 2px 2px 21px;">Trend Life </p>
        </ion-card-content>
      </ion-card>
    </ion-col>


    <ion-col>

      <ion-card>
        <ion-card-header>

          <ion-card-title>New Trends</ion-card-title>
          <hr>
        </ion-card-header>

        <ion-card-content>
          <img src="../../assets/images/image5.jpg" style="height:61px; width:110px;margin:-11px 2px 2px -2px;">
          <p>Arriving Soon</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>

      <ion-card>
        <ion-card-header>

          <ion-card-title>New Trends</ion-card-title>
          <hr>
        </ion-card-header>

        <ion-card-content>
          <img src="../../assets/images/image0.jpg" style="height:61px; width:61px;margin:-11px 2px 2px 21px;">
          <p>Arriving Soon</p>
        </ion-card-content>
      </ion-card>
    </ion-col>


    <ion-col>

      <ion-card>
        <ion-card-header>
          <ion-card-title>New Trends</ion-card-title>
          <hr>
        </ion-card-header>

        <ion-card-content>

          <img src="../../assets/images/image3.jpg" style="height:70px; width:117px;margin:-11px 2px 2px -2px;">
          <p style="padding: 2px 2px 2px 16px;">Arriving Soon</p>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer style="text-align: center;">
  <ion-toolbar id="footer">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-icon id="brief" name="briefcase"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon id="brief" name="notifications"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon id="brief" name="person"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>