


  <ion-content>
    <ion-row>
      <ion-col>
        <ion-icon [routerLink]="['/login']" class="ion-margin-top ion-margin-start" name="arrow-back"></ion-icon>
      </ion-col>
    </ion-row>


     <ion-col>
      <div class="ion-text-center ion-margin-top">
        <img src="assets/images/whitebg11.jpg">
      </div>
    </ion-col> 
    <form [formGroup]="modifyFormGroup">


     <div *ngIf="valid">
      <p class="ion-margin-start " *ngIf="modifyFormGroup.get('phone_no').hasError('required')">Must Required</p>
      </div>


    <ion-grid>
      <ion-row>
     <ion-col class="ion-margin-start">
     <ion-input    formControlName="phone_no" type="password"  class="ion-margin-top ion-margin-start"
     placeholder="+91 &nbsp; Phone Number"></ion-input>
       </ion-col>
      </ion-row>
    </ion-grid>  


    <div *ngIf="valid">
      <p class="ion-margin-start" *ngIf="modifyFormGroup.get('password').hasError('required')">Password Required</p>
    </div>


    <ion-grid>
      <ion-row>
     <ion-col class="ion-margin-start">
     <ion-input    formControlName="password" type="password"  class="ion-margin-top ion-margin-start"
     placeholder="Password" ></ion-input>
       </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="valid">
      <p class="ion-margin-start" *ngIf="modifyFormGroup.get('cpassword').hasError('required')">Password Required</p>
    </div>

    <ion-grid>
      <ion-row>
     <ion-col class="ion-margin-start">
     <ion-input    formControlName="cpassword" type="password"  class="ion-margin-top ion-margin-start"
     placeholder="Confirm Password" ></ion-input>
       </ion-col>
      </ion-row>
    </ion-grid>



    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin-start">
          <ion-button (click)="resetpassword()"  class="ion-text-center ion-margin-top ion-margin-start">Reset Password</ion-button>
        
        </ion-col>
      </ion-row>
       </ion-grid>
</form>


</ion-content>
