


  <ion-content>

    
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
  
</ion-refresher-content>
   

</ion-refresher>
    <ion-row>
      <ion-col>
        <ion-icon [routerLink]="['/login']" class="ion-margin-top ion-margin-start" name="arrow-back"></ion-icon>
      </ion-col>
    </ion-row>


     <ion-col>
      <div class="ion-text-center ion-margin-top">
        <img src="assets/images/whitebg11.jpg">
      </div>
    </ion-col> 


    <form [formGroup]="forms">

<h3>
  <p style="text-align: center;" *ngIf="user"> User Not Found <br>
  Please Enter Registered Email</p>
</h3>
     <div *ngIf="valid">
      <p class="ion-margin-start " *ngIf="forms.get('Email_address').hasError('required')">Must Required</p>
      </div>


    <ion-grid>
      <ion-row>
     <ion-col class="ion-margin-start">
     <ion-input  placeholder="Email Address"  formControlName="Email_address" type="text"  class="ion-margin-top ion-margin-start"
   ></ion-input>
       </ion-col>
      </ion-row>
    </ion-grid>  


    <div *ngIf="valid">
      <p class="ion-margin-start" *ngIf="forms.get('password').hasError('required')">Password Required</p>
    </div>


    <ion-grid>
      <ion-row>
     <ion-col class="ion-margin-start">
     <ion-input    formControlName="password" type="password"  class="ion-margin-top ion-margin-start"
     placeholder="Password" ></ion-input>
       </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="valid">
      <p class="ion-margin-start" *ngIf="forms.get('cpass').hasError('required')">Confirm Password Required</p>
    </div>
    <div *ngIf="valid">
      <p *ngIf="forms.hasError('notMatching')"> Passwords Not Matching </p>
    </div>

    <ion-grid>
      <ion-row>
     <ion-col class="ion-margin-start">
     <ion-input    formControlName="cpass" type="password"  class="ion-margin-top ion-margin-start"
     placeholder="Confirm Password" ></ion-input>
       </ion-col>
      </ion-row>
    </ion-grid>



    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin-start">
          <ion-button (click)="add()"  class="ion-text-center ion-margin-top ion-margin-start">Reset Password</ion-button>
        
        </ion-col>
      </ion-row>
       </ion-grid>
</form>




</ion-content>
