

// ion-content.background{
//     --background: #bbacac07;
//  }
 
//   img{
//       border-radius:8px;
//       margin-top:12px!important;
//   }
 
//   ion-grid{
//   margin-left: 42px;
//   width: 74%;
//   background:auto;
//   height:5in;
//   }
//   @media only screen and  (max-width: 320px) and (min-width:320px) {
//     ion-input{
//       margin-left:0px!important;
//     }
//   }
 
  
//  p{
//    color:darkblue;
//    }


// span{
//  color:darkblue;
//   font-size: 17px;
//   text-align:center;
//   }   

//   ion-input{
      
//       border-radius: 5px;
//      font-weight:500;
//       border: 2px solid #F27121;
//       font-size:15px;
//       padding-left: 10px !important;
//       font-family: 'Gelasio', serif;
//       border-radius: 27px;
//        margin-left:30px;
//       height: 39px;
//      width:2in;
//      color:darkblue;
   
//   }
 

// .submit{
//     width: 100px;
//     background: darkblue;
//     color: white;
//     margin-left: 69px;
//     font-family: 'Open Sans', sans-serif;
//     vertical-align: middle;
   
//     line-height: 1px;
   
// }
  
// @media only screen and  (max-width: 320px) {
//  .submit{
//     margin-left:39px!important;
//   }
// }
  
//   ion-fab-button{
//       width: 34px;
//       display: inline-flex;
//       height: 36px;
//   }

// #social_icons{
//   padding-left:1.5em!important;
// }







ion-fab-button {
  height: 70px;
  width: 70px;
}
 
.cart-icon {
  font-size: 50px;
}
 
.cart-length {
  color: var(--ion-color-primary);
  position: absolute;
  top: 18px;
  left: 25px;
  font-weight: 600;
  font-size: 1em;
  min-width: 25px;
  z-index: 10;
}