<!-- <ion-content class="background">

<ion-grid style="margin-top:5.2em;">
<ion-row>
<ion-col col-1></ion-col>
<ion-col text-center col-10>

<img class="circle-pic" src="assets/images/whitebg.jpg" style="width:217px; height:4em;">

</ion-col>
<ion-col col-1>

</ion-col>

</ion-row>



<div class="content">
<div class="ion-padding">
<form [formGroup]="modifyFormGroup" class="box">
  <div class="row"  *ngIf="showMsg">
    <div class="col-xs-12">
      <p class="alert alert-danger">
          <strong style="color:black;">Invalid User</strong>.

      </p>
    </div>
  </div>

  <div class="row"  *ngIf="server">
    <div class="col-xs-12">
      <p  style="font-weight: bold;font-size:13px;"class="alert alert-success">
Server  Side problem..
         

      </p>
    </div>
  </div>
  <div *ngIf="valid">
    <p *ngIf="modifyFormGroup.get('username').hasError('required')">Username Required</p>

  </div>
  <ion-input formControlName="username" style=" font-family: 'Open Sans', sans-serif;" placeholder="Enter your username">
    <ion-icon style="color:darkblue;  font-size: 24px;" name="person"></ion-icon>
  </ion-input> <br>


  <div *ngIf="valid">
    <p *ngIf="modifyFormGroup.get('password').hasError('required')">Password Required</p>
  </div>


  <ion-input formControlName="password" style=" font-family: 'Open Sans', sans-serif;" type="Enter Your Password"
    placeholder="Password">
    <ion-icon style="color:darkblue; font-size:24px;" name="unlock"></ion-icon>
  </ion-input>
  <br>
  <div></div>
 
    <!-- <ion-button (click)="login()" class="block"
      style=" font-family: 'Open Sans', sans-serif; --background:darkblue;width:10em;color:white;--border-radius:1px solid red;">
      Sign&nbsp;In
    </ion-button> 
    <p class="ion-text-center">
    <ion-input  class="submit" (click)="login()"   type="submit" value="&nbsp;&nbsp;Sign In&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></ion-input>
  </p>
</form>

</div>

<p class="ion-text-center"> <a [routerLink]="['/register']" style="font-family: 'Open Sans', sans-serif;  ">
  Create an Account?</a>
<p class="ion-text-center" style="text-align: center;font-size:22px; font-family: 'Open Sans', sans-serif;"> OR
</p>
<p class="ion-text-center" style="margin-top: -8px; margin-left: 9px;font-family: 'Open Sans', sans-serif;">
  login with</p>


<section class="full-width">
  <p style="padding-left:2.5em;">
    <img class="hg" src="assets/images/facebookimg.png" width="50" height="50" />
    <img class="hg" style="margin-left:30px;" src="assets/images/twitterimg.png" width="50" height="50" />
    <img class="hg" style="margin-left:30px;" src="assets/images/google-plus.png" width="50" height="50" />



  </p>
</section>
</div>
</ion-grid>




</ion-content>
-->




<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Shopping
    </ion-title>

      
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <ion-list>
    <ion-card *ngFor="let p of products">
      <ion-card-header>
        <ion-card-title>{{ p.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="secondary">
              <b>{{ p.price | currency:'INR' }}</b>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" (click)="addToCart(p)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <div class="col-md-4"  *ngFor="let bg of blog">
  <img [src]="bg.image">
  </div>
</ion-content>