ion-toolbar{
    --background:#23074d;
    color:white;
    font-family: Abel,'sans-serif';
}
img{

    height: 6em;
    width: 6em;
    border-radius: 5em;
    margin: 21px 0px 0px 151px;
    border: 1px solid white;
    margin-top: 2em;
    padding:7px;
    background: #f2f1f5;
    
  
}
ion-label{
    font-family: Abel,'sans-serif'!important; 
    font-size:17px!important;
    color:black!important;
}
ion-icon
{
    color:white;
    font-size: 23px;
}
ion-item{
    ion-icon{
        color:navy;
        font-size:23px;
    }
}

#brief{
    margin-right: 1em;
    color:navy;
    font-size:21px; 
    margin-top: -5px;
    border-radius:15px;
    background:white;

}
.address{
margin-top:-4em;
}
#footer{
    --background:#031646!important;
    height:47px!important;
       }