<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">My Profile</ion-title>
    <ion-icon (click)="backClicked()"  class="ion-margin-start" name="arrow-back" slot="start"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
  
</ion-refresher-content>
   

</ion-refresher>

  <ion-card class="ion-text-justify">
   
    <ion-avatar>
     <img class=" ion-margin-start ion-margin-top" src="http://ec2-18-188-252-77.us-east-2.compute.amazonaws.com:8080/profile/{{photo?.split('\\')[2]}}">
    </ion-avatar>
    <a style="margin: 37px 0px 0px 219px;"class="ion-margin-start ion-margin-top"  [routerLink]="['/editprofile']">Edit Profile</a>

    <ion-card-content>
      <ion-card-title text-center>
        <ion-list>
          <ion-item>
            <ion-icon name="person"></ion-icon>
            <ion-label class="ion-margin-start">Owner Name</ion-label>
            <ion-label class="ion-margin-start">
              <h4 style="font-size: 21px;font-weight: bold;"> {{owner_name}} </h4>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-icon name="person"></ion-icon>
            <ion-label class="ion-margin-start">Business Name</ion-label>
            <ion-label class="ion-margin-start">
              <h4 style="font-size: 21px;font-weight: bold;"> {{business_name}} </h4>
            </ion-label>
          </ion-item>


          <ion-item>
            <ion-icon name="mail"></ion-icon>
            <ion-label class="ion-margin-start">Email Address: </ion-label>
            <ion-label class="ion-margin-start">
              <h4 style="font-size: 21px;font-weight: bold;">{{Email_address}} </h4>
            </ion-label>
          </ion-item>


          <ion-item>
            <ion-icon name="call"></ion-icon>
            <ion-label class="ion-margin-start">Phone Number</ion-label>
            <ion-label class="ion-margin-start">
              <h4 style="font-size: 21px;font-weight: bold;"> {{phone_no}} </h4>
            </ion-label>
          </ion-item>

       

          <ion-item>
            <ion-icon class="ion-no-margin address" name="home"></ion-icon>
            <ion-label class="ion-margin-start">Owner Address</ion-label> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
            <ion-label class="ion-margin-start">
              <h4 style="font-size: 21px;font-weight: bold;"> {{owneraddress}} </h4>
            </ion-label>
            <ion-textarea rows="6" cols="20" placeholder=""></ion-textarea>
          </ion-item>


          <ion-item>
            <ion-icon name="card"></ion-icon>
            <ion-label class="ion-margin-start">Wallet</ion-label>
            <ion-label class="ion-margin-start">
              <h4 style="font-size: 21px;font-weight: bold;"> Rs. {{wallet}} </h4>
            </ion-label>
          </ion-item>




        </ion-list>
      </ion-card-title>
    </ion-card-content>



  </ion-card>

</ion-content>

<ion-footer style="text-align: center;">
  <ion-toolbar id="footer">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-icon *ngIf="admindashboard" id="brief" id="brief" name="home" [routerLink]="['/admindashboard']"></ion-icon>
          <ion-icon *ngIf="dashboard" id="brief" id="brief" name="home" [routerLink]="['/dashboard']"></ion-icon>

        </ion-col>
        <ion-col size="4">
          <ion-icon id="brief"   [routerLink]="['/democart2']" name="cart"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon id="brief" [routerLink]="['/user-profile']" name="person"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>